<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document List</title>
</head>
<body>
    <h1>Documents</h1>
    <a href="{% url 'create_document' %}">Create New Document</a>
    <ul>
        {% for document in documents %}
            <li>
                <a href="{% url 'edit_document' document.pk %}">{{ document.title }}</a> - 
                <a href="{% url 'delete_document' document.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
